state-machine.json
{
  "Comment": "A state machine for spinning up an EMR cluster to run the CustomCreate job.",
  "StartAt": "PreStep",
  "States": {
    "PreStep": {
      "Comment": "Check that all the necessary files exist before running the job.",
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:849776797214:function:PreStep-function",
      "Parameters": {
        "S3Bucket": "us-dev-us-east-1-data",
        "S3Key": "jobs/custom-create-dev/env_configs.sh"
      },
      "Next": "Run Job Choice"
    },
    "Run Job Choice": {
      "Comment": "This step chooses whether or not to go forward with running the main job.",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.FoundNecessaryFiles",
          "BooleanEquals": true,
          "Next": "Spin Up Cluster"
        },
        {
          "Variable": "$.FoundNecessaryFiles",
          "BooleanEquals": false,
          "Next": "Stop Job"
        }
      ]
    },
    "Stop Job": {
      "Comment": "This step triggers if the PreStep fails and the job should not run.",
      "Type": "Fail",
      "Cause": "There was a failure"
    },
    "Spin Up Cluster": {
      "Comment": "Spins up the EMR Cluster.",
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:849776797214:function:emr-cluster-create",
      "Parameters": {
        "S3Bucket.$": "$.S3Bucket",
        "S3Key": "jobs/custom-create-dev/CustomCreate-EMR-cluster-setup.json"
      },
      "Next": "Wait for Cluster to Spin Up"
    },
    "Wait for Cluster to Spin Up": {
      "Comment": "Waits for cluster to spin up.",
      "Type": "Wait",
      "Seconds": 60,
      "Next": "Check Cluster Status"
    },
    "Check Cluster Status": {
      "Comment": "Checks on cluster status.",
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:849776797214:function:check-cluster-status",
      "Next": "Is Cluster Up?"
    },
    "Is Cluster Up?": {
      "Comment": "Checks if the cluster is up before moving on.",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ClusterStatus",
          "StringEquals": "WAITING",
          "Next": "Add Env Config Script"
        },
        {
          "Variable": "$.ClusterStatus",
          "StringEquals": "TERMINATED",
          "Next": "Stop Job"
        },
        {
          "Variable": "$.ClusterStatus",
          "StringEquals": "TERMINATED_WITH_ERRORS",
          "Next": "Stop Job"
        },
        {
          "Variable": "$.ClusterStatus",
          "StringEquals": "TERMINATING",
          "Next": "Stop Job"
        },
        {
          "Variable": "$.ClusterStatus",
          "StringEquals": "STARTING",
          "Next": "Wait for Cluster to Spin Up"
        },
        {
          "Variable": "$.ClusterStatus",
          "StringEquals": "BOOTSTRAPPING",
          "Next": "Wait for Cluster to Spin Up"
        },
        {
          "Variable": "$.ClusterStatus",
          "StringEquals": "RUNNING",
          "Next": "Wait for Cluster to Spin Up"
        }
      ],
      "Default": "Stop Job"
    },
    "Add Env Config Script": {
      "Comment": "Adds the script to update the env config variables as the first step on the cluster.",
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:849776797214:function:emr-add-step",
      "Parameters": {
        "S3Key": "jobs/custom-create-dev/CustomCreate-RUN_SCRIPT.json",
        "S3Bucket.$": "$.S3Bucket",
        "JobFlowId.$": "$.JobFlowId"
      },
      "Next": "Wait for Env Config"
    },
    "Wait for Env Config": {
      "Comment": "Waits for the Env Config step to complete.",
      "Type": "Wait",
      "Seconds": 15,
      "Next": "Check Env Config Script Status"
    },
    "Check Env Config Script Status": {
      "Comment": "Checks on the cluster job status.",
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:849776797214:function:check-emr-job-status",
      "Next": "Is Env Config Script Done?"
    },
    "Is Env Config Script Done?": {
      "Comment": "Checks if the env config step has run before moving on.",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.StepStatus",
          "StringEquals": "COMPLETED",
          "Next": "Add Run Step"
        },
        {
          "Variable": "$.StepStatus",
          "StringEquals": "FAILED",
          "Next": "Step Error - Terminate Cluster"
        },
        {
          "Variable": "$.StepStatus",
          "StringEquals": "INTERRUPTED",
          "Next": "Step Error - Terminate Cluster"
        },
        {
          "Variable": "$.StepStatus",
          "StringEquals": "CANCELLED",
          "Next": "Step Error - Terminate Cluster"
        },
        {
          "Variable": "$.StepStatus",
          "StringEquals": "PENDING",
          "Next": "Wait for Env Config"
        },
        {
          "Variable": "$.StepStatus",
          "StringEquals": "CANCEL_PENDING",
          "Next": "Step Error - Terminate Cluster"
        },
        {
          "Variable": "$.StepStatus",
          "StringEquals": "RUNNING",
          "Next": "Wait for Env Config"
        }
      ],
      "Default": "Step Error - Terminate Cluster"
    },
    "Add Run Step": {
      "Comment": "Add the step to run the main job.",
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:849776797214:function:emr-add-step",
      "Parameters": {
        "S3Key": "jobs/custom-create-dev/CustomCreate-RUN_STEPS.json",
        "S3Bucket.$": "$.S3Bucket",
        "JobFlowId.$": "$.JobFlowId",
        "StepId.$": "$.StepId"
      },
      "Next": "Wait for Step to Run"
    },
    "Wait for Step to Run": {
      "Comment": "Waits for the Env Config step to complete.",
      "Type": "Wait",
      "Seconds": 20,
      "Next": "Check Step Status"
    },
    "Check Step Status": {
      "Comment": "Checks on the cluster step status.",
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:849776797214:function:check-emr-job-status",
      "Next": "Is Step Done?"
    },
    "Is Step Done?": {
      "Comment": "Checks if the env config step has run before moving on.",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.StepStatus",
          "StringEquals": "COMPLETED",
          "Next": "Terminate Job Flow"
        },
        {
          "Variable": "$.StepStatus",
          "StringEquals": "FAILED",
          "Next": "Step Error - Terminate Cluster"
        },
        {
          "Variable": "$.StepStatus",
          "StringEquals": "INTERRUPTED",
          "Next": "Step Error - Terminate Cluster"
        },
        {
          "Variable": "$.StepStatus",
          "StringEquals": "CANCELLED",
          "Next": "Step Error - Terminate Cluster"
        },
        {
          "Variable": "$.StepStatus",
          "StringEquals": "CANCEL_PENDING",
          "Next": "Step Error - Terminate Cluster"
        },
        {
          "Variable": "$.StepStatus",
          "StringEquals": "PENDING",
          "Next": "Wait for Step to Run"
        },
        {
          "Variable": "$.StepStatus",
          "StringEquals": "RUNNING",
          "Next": "Wait for Step to Run"
        }
      ],
      "Default": "Step Error - Terminate Cluster"
    },
    "Step Error - Terminate Cluster": {
      "Comment": "In the case of an unwanted action in a step, terminates the cluster before stopping the job.",
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:849776797214:function:terminate-emr-cluster",
      "Next": "Stop Job"
    },
    "Terminate Job Flow": {
      "Comment": "Terminates the EMR Cluster once the job is complete.",
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:849776797214:function:terminate-emr-cluster",
      "End": true
    }
  }
}